.App {
  text-align: center;
}

.header{
  background-color: red;
}
*{
  margin: 0;
  padding: 0;
}
body{
  width: 99vw;
  height: fit-content;
  margin: auto;
}
nav{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
 background-color: rgb(253,155,149);
 margin: 20px auto;
}
nav a{
margin: 10px 30px;
text-decoration: none;
font-size: 22px;
font-weight: 600;
}
nav a:hover{
  color: red;
}